[project]
	description = Automatically exported from code.google.com/p/simple-android-instant-messaging-application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JasperHsieh
[access "refs/for/refs/*"]
	read = group user/JasperHsieh
	push = group user/JasperHsieh
	label-Code-Review = -2..+2 group user/JasperHsieh
	label-Verified = -1..+1 group user/JasperHsieh
	rebase = group user/JasperHsieh
	removeReviewer = group user/JasperHsieh
	submit = group user/JasperHsieh
[access "refs/heads/*"]
	read = group user/JasperHsieh
	create = group user/JasperHsieh
	push = +force group user/JasperHsieh
	pushMerge = group user/JasperHsieh
[access "refs/tags/*"]
	push = +force group user/JasperHsieh
	pushTag = group user/JasperHsieh
	pushSignedTag = group user/JasperHsieh
